h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}
.item-container {
  text-align: left;
}

.sh-row{
  margin: 10px 5px;
}
.sh-button{
  min-width: 80px;
}